*{
    margin: 0;
    padding: 0;   
}

/* barra navegacao*/

nav {
    background-color: #093c58;
    color: #38adbe; 
    padding: 10px;
}

.Menu_center {
    text-align: center;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    margin-right: 20px;
    
}

a{
    color: #fff;
    text-decoration: none;
}

section {

    color-scheme: green, white, black;

}